<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <server.Properties.Settings>
            <setting name="kEndPoint" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="kPort" serializeAs="String">
                <value>65000</value>
            </setting>
            <setting name="kMaxConnections" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="kDispatcher" serializeAs="String">
                <value>Dispatcher</value>
            </setting>
            <setting name="kProcessor" serializeAs="String">
                <value>Processor</value>
            </setting>
            <setting name="kReceiver" serializeAs="String">
                <value>Receiver</value>
            </setting>
            <setting name="kBufferSize" serializeAs="String">
                <value>1024</value>
            </setting>
        </server.Properties.Settings>
    </applicationSettings>
</configuration>